<div class="row mt-4">
  <div class="col-12">
    <h2>
      {{ recipe.name }}
    </h2>
    <img style="max-height:20rem ;" class=" mt-4" [src]="recipe.imagePath" alt="">
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Manage Recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Shop Now</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mt-4">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12 mt-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} -
        {{ingredient.amount}}</li>
    </ul>
  </div>
</div>